* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.border {
  border-bottom-left-radius: 156px;
}

.slider {
  overflow: hidden;
}

.slider img {
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
}

img.displayeSlide {
  display: block;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
